{% include 'header.html' %}
<body>
    {% include 'top_menus.html' %}
    <div class="container">
        {% include 'left_menus.html' %}
        <div class="content">
            <div class="container-fluid">   	
                <div class="row">
                    <a href="#"><strong><span class="ti-crown"></span> Edit Teacher</strong></a>
                    <hr>
                    <form method="post" id="teacherForm" action="{{ url_for('save_teacher')}}">            
                        <div class="form-group">
                            <label for="teacher_name" class="control-label">Teacher Name</label>
                            <input type="text" name="teacher_name" id="teacher_name" 
                                   class="form-control" placeholder="Teacher name"
                                   value="{{ teacher.teacher }}" required>
                        </div>
                        <div class="form-group">
                            <label for="specialization" class="control-label">Specialization</label>
                            <select class="form-control" id="specialization" name="specialization" required>
                                <option value="">--Select--</option>
                                {% for subject in subjects %}
                                <option value="{{ subject.subject_id }}" 
                                    {% if teacher.subject_id == subject.subject_id %}selected{% endif %}>
                                    {{ subject.subject }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="teacherid" value="{{ teacher.teacher_id }}">
                            <input type="hidden" name="action" value="updateTeacher">
                            <input type="submit" class="btn btn-info" value="Save">
                            <a href="{{ url_for('teacher') }}" class="btn btn-default">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>